:root{
    --lightBgColor:#F7F7F7;
    --primaryTextColor:#0B0729;
    --secondaryTextColor:rgb(35, 34, 92);
    --darkColor:#fff;
}

.mainLinearSection{
    display: grid;
    grid-template-columns: minmax(250px,275px) minmax(450px,1fr);
    gap: 25px;
}
.customLinearSection{
    display: grid;
    grid-template-columns: minmax(275px,325px) minmax(275px,300px) minmax(275px,300px);
    justify-content: center;
    padding: 45px 10px;
    gap: 15px;
}
.previewSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--lightBgColor);
    color: var(--primaryTextColor);
    padding: 10px;
    border-radius: 8px;
}
.previewSection h3{
    color: var(--primaryTextColor);
    text-align: center;
}
.previewgradientBox{
    align-self: center;
}
.previewgradientBox{
    width: 240px;
    height: 235px;
    border-radius: 7px;
}
.previewCopyContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--darkColor);
    color: var(--primaryTextColor);
    overflow: auto;
    border-radius: 5px;
}
.customContainer{
    display: grid;
    grid-template-columns: minmax(175px,300px);
    justify-content: flex-start;
    gap: 10px;
}
.stopPositions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.startPositions{
    margin: 10px 0px 5px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.angleLinear{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.angleInputRange{
    outline: none;
    width: 260px;
    cursor: ew-resize;
    accent-color: var(--LightBgColor);
}
.angleLinearInput{
    background-color: var(--lightBgColor);
    color: var(--primaryTextColor);
    padding: 8px;
    border-radius: 5px;
    width: 210px;
    height: 36px;
}
label{
    color: var(--primaryTextColor);
    font-size: 17px;
    word-spacing: 1.5px;
}
.colorLinearInput{
    outline: none;
    width: 210px;
    border: none;
    height: 36px;
    background-color: var(--lightBgColor);
    color: var(--primaryTextColor);
    border-radius: 5px;
    padding-inline: 10px;
     font-size: 15px;
     word-spacing: 1.5px;
}
.linearDivisions{
    display: flex;
    align-items: center;
    gap: 5px;
}
.linearDivisionsbutton{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--LightBgColor);
    margin-bottom: 5px;
}
.linearDivisionsbutton:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.linearDivisionClicked{
    background-color: var(--primaryBgcards);
    opacity: 1;
    border: none;
    outline: none;
    color: var(--LightBgColor);
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.previewCodes {
    font-size: 15px;
    padding: 8px;
    height: 125px;
}
.linearNotCopied{
    color: var(--primaryTextColor);
    margin: 0px 5px;
    font-size: 15px;
    cursor: pointer;
}
.copiedMessageLinear{
    color: #0B0729;
    background-color: var(--primaryBgcards);
    padding: 2px;
    border-radius: 5px;
    margin: 0px 5px;
    font-size: 15px;
    width: fit-content;
}
.linearColorPicker{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.copyMessageSection{
    height: 20px;
}
  .picker-linear .react-colorful__interactive{
    width: 265px;
    height: auto;
    }
    .picker-linear .react-colorful__hue{
        width: 265px;
        height: 18px;
        margin: 4px 0px 0px 0px;
        border-radius: 10px;
    }
    .picker-linear .react-colorful__saturation{
    height: auto;
    width: 265px;
    border-radius: 20px;
    }
    .picker-linear  .react-colorful__saturation-pointer{
        cursor: grab;
    }
    .picker-linear .react-colorful__pointer{
        cursor: grab;
    } 
    .linearRgbCopy{
        display: flex;
        align-items: center;
        gap: 3px;
    }

@media (max-width:1228px){
    .customLinearSection{
    display: grid;
    grid-template-columns: minmax(275px,300px) minmax(300px,325px);
    gap: 20px;
    }
}

@media (max-width:1024px){

    .customLinearSection{
        gap: 30px;
        grid-template-columns: minmax(325px,375px);
    }
    
    .stopPositions{
        justify-content: center;
        align-items: flex-start;
    }
    .startPositions{
        margin: 10px 0px 0px 0px;
    }
    .customContainer{
        justify-content: flex-start;
    }

}

@media (max-width:768px){
    
    .mainLinearSection{
        display: grid;
        grid-template-columns: minmax(200px,225px) minmax(265px,1fr);
        gap: 10px;
      
    }
    .customLinearSection{
        grid-template-columns: minmax(300px,375px);
    }
}

@media (max-width:600px){
    .linearSideBar{
        display: none;
    }
    .mainLinearSection{
        grid-template-columns: minmax(280px,1fr);
        justify-content: center;
    }
}


