:root{
    --LightBgColor:#0B0729;
    --darkTextColor:#fff;
    --primaryBgcards:#F7F7F7;
    --secondarytextColor:rgb(35, 34, 92);
}

.formMainSection{
    display: grid;
    grid-template-columns: minmax(250px,275px) minmax(350px,1fr);
    justify-content: flex-start;
    gap: 20px;
}
.wholeFormSection{
    display: grid;
    grid-template-columns: minmax(385px,1fr);
    justify-content: center;
    gap: 20px;
    padding: 40px 16px;
}
.loginFormSection{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    padding: 15px;
   
}
.formHeading{
    color: var(--LightBgColor);
}
.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
    background-color: var(--primaryBgcards);
    color: var(--LightBgColor); 
    padding: 20px;
    border-radius: 10px;
    width: 375px;
     box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.2);
}
.inputBox{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.formInputs{
    width: 275px;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
    padding: 9px;
    color: var(--LightBgColor);
    background-color: var(--darkTextColor);
    display: flex;
    align-items: center;

}
.formInputs input{
    border: none;
    outline: none;
    width: 270px;
}
.formInputs input::placeholder{
    color: var(--LightBgColor);
}
.formButtons{
    width: 75px;
    border: none;
    outline: none;
    height: 30px;
    background-color: var(--LightBgColor);
    color: var(--darkTextColor);
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}
.formButtons:hover{
    opacity: 0.9;
    cursor: pointer;
}
.loginPreviewCode{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primaryBgcards);
    color: var(--LightBgColor);
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    width: 625px;
   
}
.showButton{
    align-self: flex-start;
    border: none;
    outline: none;
    color: var(--darkTextColor);
    background-color: var(--LightBgColor);
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.showButton:hover{
    opacity: 0.9;
}
.loginDivisions{
    display: flex;
    flex-direction: column;
    background-color: var(--darkTextColor);
    color: var(--LightBgColor);
    padding: 0px 10px 10px 0px;
    border-radius: 5px;
    height: 400px;
    overflow: auto;
    width: 600px;
}
.divisionDecide{
    display: flex;
    gap: 4px;
    margin-bottom: 5px;
}
.buttonnotClicked{
    border-width: 0px 0px 0px 0px;
    padding: 5px;
    font-size: 15px;
    border-radius: 6px;
    background-color: transparent;
    border: none;
    outline: none;
}
.buttonnotClicked:hover{
    color: var(--LightBgColor);
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.buttonClicked{
    padding: 5px;
    font-size: 15px;
    background-color: var(--primaryBgcards);
    border-radius: 6px;
    color: var(--LightBgColor);
    border: none;
    outline: none;
    cursor: pointer;
}
.conditions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 50px;
}
.conditions input{
    accent-color: var(--LightBgColor);
    cursor: pointer;
}
.conditions label{
    font-size: 13px;
    margin-left: 5px;
}

.formnotCopied{
    color: var(--LightBgColor);
    font-size: 16px;
    align-self: flex-start;
    margin: 2px 2px 0px 8px;
    cursor: pointer;
}

.copyMessageSection{
    height: 20px;
}
.codeCopied{
    color: #0B0729;
    background-color: var(--primaryBgcards);
    padding: 2px;
    border-radius: 5px;
    margin: 0px 5px;
    font-size: 15px;
    width: fit-content;
}
.formInputsnotDone{
    color: red;
    height: 20px;
}
.loginreactpre p{
    font-size: 14px;
    padding: 5px;
}
.signupSection{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 20px 0px 0px 0px;
    align-items: center;
    align-self: center;
}
.signUpPreview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.copiedMessage{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
    height: 24px;
}
.copiedMessage p{
    color: #0B0729;
    background-color: var(--primaryBgcards);
    font-size: 14px;
    padding: 3px;
    border-radius: 5px;
}

@media (max-width:1023px){
    .formMainSection{
        grid-template-columns: minmax(225px,250px) minmax(350px,1fr);
         gap: 15px;
    }
    .loginPreviewCode{
        width: 480px;
    }
    .loginDivisions{
      width: 450px;
      overflow-x: auto;  
    }
}
@media (max-width:767px){
    .formSidebar{
        display: none;
    }
    .formMainSection{
        grid-template-columns: minmax(350px,1fr);
    }
}

@media (max-width:600px){
    .formMainSection{
        grid-template-columns: minmax(250px,1fr);
        justify-content: center;
    }
    .wholeFormSection{
    grid-template-columns: minmax(295px,1fr);
    padding: 40px 5px;
    }
    .loginForm{
        width: 300px;
    }
    .loginPreviewCode{
        width: 300px;
    }
    .loginDivisions{
      width: 286px;
      overflow-x: auto;  
    }
}
